body {
  background: yellow;
}
.banner {
  background: blue;
}
h1 {
  color: #fff;
  text-decoration: underline;
  text-transform: capitalize;
}

@media screen and (min-width: 578px) {
  body {
    background: red;
  }
  .banner {
    background: yellow;
  }
  h1 {
    font-size: 60px;
    color: black;
  }
}
